<html>
<head>
	<title>Signup</title>
</head>
<body>
	<form method="post" action="../Controller/signupcheck.php">
		<fieldset>
			<legend><h1><font face="Algerian" size="10" color="Green">Sign Up</font></h1></legend>
			<table width="600" bordercolor="Green" border="2" cellspacing="8" cellpadding="6">
				<tr>
					<td>Username:</td>
					<td><input type="text" name="username" value=""></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" name="password" value=""></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="email" name="email" value=""></td>
				</tr>
				<tr>
					<td>Gender</td>
					<td>
					  <input type="radio" name="Gender" value="Male" />Male
					  <input type="radio" name="Gender" value="Female" />Female
					</td>
				  </tr>
				<tr>
					<td>
					
					</td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>